<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.abusalimov.xposed.lightsensorfilter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:value="true" android:name="xposedmodule"/>
        <meta-data android:value="2.0*" android:name="xposedminversion"/>
        <meta-data android:value="Workaround for Hammerhead (Nexus 5) Ambient Light Sensor suddenly reporting 30000 lux." android:name="xposeddescription"/>
    </application>

</manifest>
